body {
  padding: 10px;
}


.fa-2x {
  line-height: 22px;
  font-size:24pt;
}


.fa-3x {
  line-height: 26px;
  font-size:32pt;
}


.container {
  max-width:800px;
}

.btn {
  font-size: 10pt;
}

#subtable {
  width: 100%;
}
