#include "winres.h"

Favicon ICON "icon.ico"

STRINGTABLE
	LANGUAGE LANG_CHINESE_SIMPLIFIED, SUBLANG_CHINESE_SIMPLIFIED
BEGIN
	1 "Cuberite"
	2 "一个轻巧、快速、可扩展的Minecraftf游戏服务器"
END

STRINGTABLE
	LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_UK
BEGIN
	1 "Cuberite"
	2 "A lightweight, fast and extensible game server for Minecraft"
END

#define VERSION 0,0,13,37
#define VERSION_STRING "0.0.13.37"
#define INTERNAL_NAME "MCServer"
#define ORIGINAL_FILENAME "Cuberite.exe"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_UK
VS_VERSION_INFO VERSIONINFO
	FILEVERSION VERSION
	PRODUCTVERSION VERSION
	FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
	FILEFLAGS 0x1L
#else
	FILEFLAGS 0x0L
#endif
	FILEOS 0x40004L
	FILETYPE VFT_APP
	FILESUBTYPE 0
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "080904B0"
		BEGIN
			VALUE "CompanyName", "Cuberite Contributors"
			VALUE "FileDescription", "Cuberite"
			VALUE "FileVersion", VERSION_STRING
			VALUE "InternalName", INTERNAL_NAME
			VALUE "OriginalFilename", ORIGINAL_FILENAME
			VALUE "ProductName", "Cuberite"
			VALUE "ProductVersion", VERSION_STRING
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0809,1200, 0x0804,1200
	END
END

LANGUAGE LANG_CHINESE_SIMPLIFIED, SUBLANG_CHINESE_SIMPLIFIED
VS_VERSION_INFO VERSIONINFO
	FILEVERSION VERSION
	PRODUCTVERSION VERSION
	FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
	FILEFLAGS 0x1L
#else
	FILEFLAGS 0x0L
#endif
	FILEOS 0x40004L
	FILETYPE VFT_APP
	FILESUBTYPE 0
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "080404B0"
		BEGIN
			VALUE "CompanyName", "Cuberite 作者"
			VALUE "FileDescription", "Cuberite"
			VALUE "FileVersion", VERSION_STRING
			VALUE "InternalName", INTERNAL_NAME
			VALUE "OriginalFilename", ORIGINAL_FILENAME
			VALUE "ProductName", "Cuberite"
			VALUE "ProductVersion", VERSION_STRING
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0804,1200, 0x0809,1200
	END
END
