Checks: >-
  -*,
  readability-identifier-naming,
  readability-redundant-string-cstr,
  readability-redundant-string-init,
  readability-simplify-boolean-expr,
  performance-unnecessary-value-param,
  performance-unnecessary-copy-initialization,
  performance-for-range-copy,
  performance-implicit-conversion-in-loop,
CheckOptions:
- key:             readability-identifier-naming.PrivateMemberPrefix
  value:           'm_'
- key:             readability-identifier-naming.ClassConstantCase
  value:           aNy_CasE
# an empty *Prefix needs a *Case to work
- key:             readability-identifier-naming.ClassConstantPrefix
  value:           ''
#- key:             readability-identifier-naming.PrivateMemberCase
#  value:           CamelCase
#- key:             readability-identifier-naming.FunctionCase
#  value:           CamelCase
#- key:             readability-identifier-naming.EnumCase
#  value:           camelBack

- key: performance-unnecessary-value-param.AllowedTypes
  value: 'cEntityEffect;cNoise'
WarningsAsErrors: '*'
HeaderFilterRegex: '/cuberite/src/\.?[^\.]'
FormatStyle: 'file'
