build/
nbproject/
ipch/
Win32/
MCServer/MCServer
ChunkWorxSave.ini
doxy/
Profiling
Symbols
cloc-ignored.txt
cloc.xml
cloc.xsl
*.ncb
*.user
*.suo
/EveryNight.cmd
/UploadLuaAPI.cmd

# IDE Stuff
## Sublime Text
*.sublime-*
## emacs
*.*~
*~
*.orig
## Eclipse
.cproject
.project
*.cbp

# world inside source
ChunkWorx.ini
groups.ini
items.ini
monsters.ini
settings.ini
terrain.ini
users.ini
webadmin.ini
world.ini
crafting.txt
motd.txt
logs
players
world
world_nether

#cmake stuff
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
CTestTestfile.cmake
Makefile

*.a
*.d
*.so
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_mainfest.txt
src/MCServer
lib/tolua++/tolua
src/Bindings/Bindings.*
src/Bindings/BindingDependecies.txt
MCServer.dir/
src/AllFiles.lst

#win32 cmake stuff
*.vcxproj
*.vcproj
*.vcxproj.filters
*.opensdf
*.sdf
*.sln
*.idb

#cmake output folders
ZERO_CHECK.dir/
Debug/
DebugProfile/
Release/
ReleaseProfile/
*.dir/
