[submodule "MCServer/Plugins/Core"]
	path = MCServer/Plugins/Core
	url = https://github.com/mc-server/Core.git
[submodule "MCServer/Plugins/ProtectionAreas"]
	path = MCServer/Plugins/ProtectionAreas
	url = https://github.com/mc-server/ProtectionAreas.git
[submodule "MCServer/Plugins/TransAPI"]
	path = MCServer/Plugins/TransAPI
	url = https://github.com/bearbin/transapi.git
[submodule "lib/polarssl"]
	path = lib/polarssl
	url = https://github.com/mc-server/polarssl
