build/
MCServer/MCServer
ChunkWorxSave.ini
doxy/
Profiling
Symbols
cloc-ignored.txt
cloc.xml
cloc.xsl
*.ncb
*.user
*.suo
/EveryNight.cmd
*.sublime-*

#emacs stuff
*.*~

#Word inside dev folder
ChunkWorx.ini
crafting.txt
groups.ini
items.ini
logs/
monsters.ini
motd.txt
players/
terrain.ini
users.ini
webadmin.ini
world/
world_nether/
settings.ini