language: cpp
sudo: false

compiler:
- clang
- gcc

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8
    - gdb

script: ./CIbuild.sh

env:
  - TRAVIS_CUBERITE_BUILD_TYPE=RELEASE CUBERITE_PATH=./Cuberite
  - TRAVIS_CUBERITE_BUILD_TYPE=DEBUG   CUBERITE_PATH=./Cuberite_debug

notifications:
  email:
    on_success: change
    on_failure: always
branches:
  only:
    - coverity_scan
    - master
