language: cpp
compiler:
  - gcc
  - clang

before_install:
  - if [TRAVIS_MCSERVER_BUILD_TYPE == "COVERAGE"]; then sudo pip install cpp_coveralls; fi

# Build MCServer
script: CIbuild.sh

after_success:
  - uploadCoverage.sh

env:
  - TRAVIS_MCSERVER_BUILD_TYPE=RELEASE MCSERVER_PATH=./MCServer
  - TRAVIS_MCSERVER_BUILD_TYPE=DEBUG   MCSERVER_PATH=./MCServer_debug
  - TRAVIS_MCSERVER_BUILD_TYPE=RELEASE TRAVIS_MCSERVER_FORCE32=1 MCSERVER_PATH=./MCServer
  - TRAVIS_MCSERVER_BUILD_TYPE=DEBUG   TRAVIS_MCSERVER_FORCE32=1 MCSERVER_PATH=./MCServer_debug

matrix:
  include:
    - compiler: gcc
      env: TRAVIS_MCSERVER_BUILD_TYPE=COVERAGE   MCSERVER_PATH=./MCServer_debug

# Notification Settings
notifications:
  email:
    on_success: change
    on_failure: always
