language: cpp
sudo: false

# Use Linux by default
os: linux

matrix:
  include:
    # gcc on arm64
    - compiler: gcc
      arch: arm64
      addons:
        apt:
          packages:
            - ccache
      env: &Debug
        - TRAVIS_CUBERITE_BUILD_TYPE=DEBUG
    # AppleClang
    # OSX workers are slower to start up.  Having these first in the build matrix makes travis faster overall.
    - os: osx
      compiler: clang
      env: &Release
        - TRAVIS_CUBERITE_BUILD_TYPE=RELEASE
    - os: osx
      compiler: clang
      env: *Debug
    # Default clang
    - compiler: clang
      env: *Release
    - compiler: clang
      env: *Debug
    # clang 3.5
    - compiler: clang
      dist: trusty
      addons: &clang35
        apt:
          packages:
            - clang++-3.5
            - clang-3.5
      before_install:
        - CC=clang-3.5;CXX=clang++-3.5
      env: *Release
    - compiler: clang
      dist: trusty
      addons: *clang35
      before_install:
        - CC=clang-3.5;CXX=clang++-3.5
      env: *Debug
    # gcc 4.8
    - compiler: gcc
      addons: &gcc48
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-4.8
            - gcc-4.8
      before_install:
        - CC=gcc-4.8;CXX=g++-4.8
      env: *Release
    - compiler: gcc
      addons: *gcc48
      before_install:
        - CC=gcc-4.8;CXX=g++-4.8
      env: *Debug

before_script:
  - export PATH=$(echo "$PATH" | sed -e 's/:\/usr\/lib\/ccache//')
script: ./CIbuild.sh
cache: ccache


notifications:
  email:
    on_success: change
    on_failure: always
branches:
  only:
    - coverity_scan
    - master
