language: cpp
compiler: clang

before_install:
#  - if [ "$TRAVIS_MCSERVER_BUILD_TYPE" == "COVERAGE" ]; then sudo pip install cpp_coveralls; fi

  # g++4.8
  - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
  - sudo apt-get update -qq

install:
  # g++4.8 and clang
  - sudo apt-get install -qq g++-4.8

  # lua, needed for style checking and possibly later on for bindings generation
  - sudo apt-get install -qq lua5.1
  
  # g++4.8
  - if [ "$CXX" == "g++" ]; then export CXX="g++-4.8"; export CC="gcc-4.8"; fi

# Build MCServer
script: ./CIbuild.sh

#after_success:
#  - ./uploadCoverage.sh

env:
  - TRAVIS_MCSERVER_BUILD_TYPE=RELEASE MCSERVER_PATH=./MCServer
  - TRAVIS_MCSERVER_BUILD_TYPE=DEBUG   MCSERVER_PATH=./MCServer_debug

#matrix:
#  include:
#    - compiler: gcc
#      env: TRAVIS_MCSERVER_BUILD_TYPE=COVERAGE   MCSERVER_PATH=./MCServer

# Notification Settings
notifications:
  email:
    on_success: change
    on_failure: always
