html { height: 100%; }

body
{
	padding: 0px 20px 20px 20px;
	font-family: Calibri, Helvetica;
	height: 100%;
}
.wrapper
{
	min-height: 100%;
}

.navhr { margin-top: -8px; }

h1
{
	font-family: Segoe UI, Helvetica;
	font-size: 40px;
	font-weight: normal;
}

h2
{
	margin-top: -30px;
	font-family: Segoe UI Light, Helvetica;
	font-size: 20px;
	font-weight: normal;	
}

.logo
{
	float: left;
	margin-right: 20px;
	height: 256px;
	width: 256px;
}

nav { float: right; }
.nav
{
	margin-top: -32.5px;
	list-style: none;
}
.nav li
{
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid black;
	border-bottom: none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	display: inline;
	font-size: 20px;
	transition: all 300ms;
	margin-left: 1.5px;
	vertical-align: 6px;
}
.nav li:hover { background-color: lightgrey; }
.nav a:link, .buildstatusanddonatelink:link { text-decoration: none; }

.downloadbox
{
	border: 2px solid lightblue;
	background-color: lightblue;
	border-radius: 5px;
	width: 500px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	clear: left;
	display: inline-table;
}
@media screen and (max-width: 1360px)
{
	.downloadbox { display: table; }
	.nav
	{
		margin-top: -15.5px;
	}
	.nav li
	{
		border-bottom: 1px solid black;
		border-radius: 5px;
	}
	nav { float: none; }
	.navhr { margin-top: 0; }
}
.downloadosimage
{
	width: 90px;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5px;
	padding-bottom: 5px;
}
.downloadicon
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40px;
	height: auto;
}

footer
{
	border-top: 1px dotted black;
}

.buildstatusanddonatebutton { display: inline; }
