body
{
	font-family: Calibri, Helvetica;
	transition: all 300ms;
}

header
{
	margin: 0 auto;
	text-align: center;
	vertical-align: middle;
}

h1
{
	font-family: Segoe UI, Helvetica;
	font-size: 40px;
	font-weight: normal;
}

h2
{
	margin-top: -30px;
	font-family: Segoe UI Light, Helvetica;
	font-size: 20px;
	font-weight: normal;
}

.logo
{
	height: 256px;
	width: 256px;
}

.nav a:link, .buildstatusanddonatelink:link { text-decoration: none; }

#nodownload
{
	font-size: 1;
}
.downloadosimage
{
	width: 90px;
	height: 90px;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5px;
	padding-bottom: 5px;
}

.downloadblock
{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 470px;
	height: 0px;
	padding-top: 10px;
	padding-bottom: 5px;
	transition: 300ms all;
	text-align: center;
	overflow: hidden;
	visibility: hidden;
	border: 1px solid white;
	border-radius: 10px;
	background: white;
	transition: all 300ms;
}
#downloadblockwindows { top: -18px;}
#downloadblockmacintosh { top: -36px; margin-bottom: -36px; }

.downloaditem
{
	padding: 5px 5px;
	vertical-align: top;
	display: inline-block;
}
.downloadicon
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40px;
	height: 40px;
}

.buildstatusanddonatebutton { display: inline; }
