*.exe
*.dll
*.exp
*.lib
*.ini
Cuberite
Cuberite_debug
luaexe
CommLogs/
GalExports/
GalExportWeb/
GalleryWeb/
logs
players
world*
API/
API.txt
API_wiki.txt
*.dat
schematics
*.schematic
*.ilk
*.pdb
memdump*
*.grab
*.cfg
*.sqlite
helgrind.log
valgrind.log
motd.txt
*.deuser
*.dmp
*.xml
mcserver_api.lua
cuberite_api.lua
DuplicateDocs.txt

# Ignore the webadmin certs / privkey, so that no-one commits theirs by accident:
webadmin/httpscert.crt
webadmin/httpskey.pem
