*.exe
ChunkWorx.ini
ChunkWorxSave.ini
MCServer
banned.ini
logs
players
whitelist.ini
world*
API.txt
*.dat
schematics
*.schematic
*.ilk
*.pdb
memdump.xml
*.grab
ProtectionAreas.ini
ProtectionAreas.sqlite
helgrind.log
settings.ini
webadmin.ini
motd.txt
