body, html
{
	font-family: "Open Sans", Tahoma, sans-serif;
	padding: 0;
	margin: 0;
	font-weight: 400;
	background-color: #fbe9e7;
	color: rgba(0, 0, 0, 0.87);
}

.light { font-weight: 300; }
.bold { font-weight: 600; }

#wrapper
{
	background-color: #ff5722;
	margin: 40px auto;
	width: 99%;
	max-width: 1200px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
	color: rgba(0, 0, 0, 0.87);
}

.title
{
	font-size: 30pt;
	padding: 10px 40px;
	text-decoration: none;
	color: white;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
	display: block;
}

#sidebar
{
	float: left;
	width: 20%;
}

.sideNav
{
	list-style: none;
	background-color: #fafafa;
	margin: 20px 0;
	padding: 5px 0;
	width: 100%;
	box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.2);
}

.sideNav li
{
	padding: 10px;
	color: rgba(0, 0, 0, 0.54);
}

.sideNav li.link
{
	padding-left: 30px;
}

.sideNav li.link a
{
	text-decoration: none;
	color: rgba(0, 0, 0, 0.87);
}

#container
{
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #f5f5f5;
}

#main
{
	float: right;
	width: 80%;
	padding: 0 15px 20px 15px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.clear
{
	clear: both;
}

table
{
	width: 100%;
	border-collapse: collapse;
}

table td
{
	padding: 5px;
}

table th
{
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
	padding: 5px;
	text-align: center;
}

table tr:nth-child(odd)
{
	background-color: rgba(0, 0, 0, 0.015);
}

p
{
	margin: 8px 0;
	padding: 8px 3px;
}

a
{
	text-decoration: none;
	color: #0277bd;
	-webkit-transition: color 0.1s linear;
	-moz-transition: color 0.1s linear;
	transition: color 0.1s linear;
}

a:hover
{
	color: #01579b;
}

.welcome-msg
{
	color: rgba(0, 0, 0, 0.54);
}

.username
{
	text-transform: capitalize;
	color: rgba(0, 0, 0, 0.87);
}

a:hover
{
	color: black;
}

input, select
{
	padding: 8px;
}

form
{
	padding: 4px;
}

.info input[type="submit"], .info button, .info input[type="button"],
.warn input[type="submit"], .warn button, .warn input[type="button"],
.err input[type="submit"], .err button, .err input[type="button"]
{
	float: right;
}

.err
{
	color: white;
	display: block;
	background-color: #e51c23 !important;
	padding: 15px;
	line-height: 30px;
	min-height: 30px;
}

.err:before
{
	content: "ERROR: ";
}

.warn
{
	color: white;
	display: block;
	background-color: #ff5722 !important;
	padding: 15px;
	line-height: 30px;
	min-height: 30px;
}

.warn:before
{
	content: "WARNING: ";
}

.info
{
	color: white;
	display: block;
	background-color: #5677fc !important;
	padding: 15px;
	line-height: 30px;
	min-height: 30px;
}

.info:before
{
	content: "INFORMATION: ";
}

#footer .fleft
{
	float: left;
}

#footer .fright
{
	float: right;
	text-align: right;
}

#footer
{
	margin: 0;
	padding: 10px;
	font-size: 9pt;
	color: rgba(255, 255, 255, 0.8);
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2) inset;
}

#footer a
{
	text-transform: none;
	color: white;
}

input[type="submit"], button, input[type="button"]
{
	background-color: #ffc107;
	padding: 8px 15px 8px 15px;
	margin: 0 2px;
	display: inline-block;
	text-align: center;
	color: black;
	box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
	border: none;
	outline: none;
	cursor: pointer;
}

input[type="submit"]:hover, button:hover, input[type="button"]:hover
{
	background-color: #ffca28;
}

input[type="submit"]:active, button:active, input[type="button"]:active
{
	background-color: #ffd54f;
	-webkit-transform: translateY(1px);
	   -moz-transform: translateY(1px);
			transform: translateY(1px);
}

hr
{
	border: none;
	height: 1px;
	background-color: rgba(0, 0, 0, 0.12);
}

h4
{
	padding-bottom: 10px;
	margin-bottom: 12px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}


/**** PAGE SPECIFIC CSS ****/

/* remove the * for disabling: */

.page-core-server-settings table td
{
	text-align: center;
	width: 25%;
}

.page-core-server-settings.no-param table td:nth-child(1) a,
.page-core-server-settings.param-tab-general table td:nth-child(1) a
{
	font-weight: 600;
	color: rgba(0, 0, 0, 0.87);
}

.page-core-server-settings.param-tab-monsters table td:nth-child(2) a
{
	font-weight: 600;
	color: rgba(0, 0, 0, 0.87);
}

.page-core-server-settings.param-tab-worlds table td:nth-child(3) a
{
	font-weight: 600;
	color: rgba(0, 0, 0, 0.87);
}

.page-core-server-settings.param-tab-world table td:nth-child(4) a
{
	font-weight: 600;
	color: rgba(0, 0, 0, 0.87);
}

.page-core-permissions form table tr,
.page-core-permissions form table td,
.page-core-permissions form table th
{
	border: none;
	background-color: transparent;
}

.page-core-permissions form table tr:nth-child(1) th
{
	width: 35%;
}

.page-core-permissions form table tr:nth-child(1) td
{
	width: 65%;
}

.page-core-permissions form table td input
{
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin: 0;
}

#ChatDiv
{
	margin-bottom: 10px;
}

#ChatMessage
{
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

/**/
