* {
margin: 0;
}
body {
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
-webkit-font-smoothing: antialiased;
background: #fff;
width:100%;
min-width:100%;
overflow-y: scroll; 
overflow-x: hidden;
}
.fl_r {
	float:right;
}
.fl_l {
	float:left;
}
a:link {
color: #555;
text-decoration: none;
}

a:visited {
color: #444;
text-decoration: none;
}

a:hover, a:active {
color: #000;
text-decoration: underline;
}
img {
border: none;
}
h1 {
color:#006699;
text-shadow: 2px 2px #000;
}
.row1 {
border-bottom:1px #000 solid;
height:100px;
max-height:100px;
background: #fff url(header.png) repeat-x top left;
}
.row2 {
margin: 0 auto;
text-align: center;
vertical-align: middle;
margin-top:125px;
}
.row3 {
margin: 0 auto;
text-align: center;
vertical-align: middle;
}
.contention {
color: #000;
text-align: left;
line-height: 1.4;
margin: 0;
font-family: Tahoma, Verdana, Arial, Sans-Serif;
font-size: 13px;
}
.push10 {
padding-bottom:75px;
}
#panel ul.menu {
margin: 0;
padding: 0;
list-style: none;
}

#panel ul.menu li {
margin: 0 5px;
display: inline;
}

#panel ul.menu li a {
padding-left: 20px;
background-repeat: no-repeat;
background-position: left center;
}

#panel .upper ul.top_links {
float: right;
font-weight: bold;
}

#panel .upper ul.top_links a.search {
background-image: url(icons/search.gif);
}

#panel .upper ul.top_links a.memberlist {
background-image: url(icons/memberlist.gif);
}

#panel .upper ul.top_links a.calendar {
background-image: url(icons/calendar.gif);
}

#panel .upper ul.top_links a.help {
background-image: url(icons/help.gif);
}

#panel .upper a.logout {
font-weight: bold;
background: url(icons/logout.gif) right no-repeat;
padding-right: 20px;
margin-left: 10px;
}

#panel .upper a.login,
#panel .upper a.lost_password {
background: url(icons/login.gif) no-repeat;
padding-left: 20px;
margin-left: 10px;
font-weight: bold;
}

#panel .upper a.register {
background: url(icons/logout.gif) right no-repeat;
padding-right: 20px;
margin-left: 10px;
font-weight: bold;
}

#panel .lower ul.panel_links {
float: left;
}

#panel .lower ul.panel_links a.usercp {
background-image: url(icons/usercp.gif);
}

#panel .lower ul.panel_links a.modcp {
background-image: url(icons/modcp.gif);
}

#panel .lower ul.panel_links a.admincp {
background-image: url(icons/admincp.gif);
}

#panel .lower ul.user_links {
float: right;
}

#panel .lower ul.user_links li a {
padding: 0;
}

#panel .upper {
background: #dcdbdc url(tcat.png) repeat-x;
border-top: 1px solid #fff;
border-bottom: 1px solid #bbb;
padding: 7px;
}

#panel .lower {
background: #efefef;
color: #999;
border-top: 1px solid #fff;
border-bottom: 1px solid #ccc;
overflow: hidden;
padding: 5px;
}

#panel .lower a:link,
#panel .lower a:visited {
color: #666;
}

#panel .lower a:hover,
#panel .lower a:active {
color: #333;
text-decoration: none;
}

#panel .remember_me input {
vertical-align: middle;
margin: -3px 0 0 5px;
}

#panel input {
margin: -3px 0;
}

#panel input.button {
padding: 0;
}
#footer {
z-index:99999;
}
#footer ul.menu {
margin: 0;
padding: 0;
list-style: none;
}

#footer ul.menu li {
margin: 0 5px;
display: inline;
}

#footer .upper {
background: #dcdbdc url(tcat.png) repeat-x;
border-top: 1px solid #bbb;
padding: 6px;
overflow: hidden;

font-size: 12px;
}

#footer .upper .language {
float: right;
margin: -2px;
}

#footer .upper ul.bottom_links {
float: left;
margin: 3px 0 0 -5px;
}

#footer .lower {
background: #a1a2a2 url(thead.png) top left repeat-x;
color: #fff;
border-top: 1px solid #ccc;
border-bottom: 1px solid #ddd;
overflow: hidden;
padding: 8px;

font-size: 11px;
}

#footer .lower a:link,
#footer .lower a:visited {
color: #fff;
font-weight: bold;
}

#footer .lower a:hover,
#footer .lower a:active {
color: #fff;
font-weight: bold;
}

#footer .lower #current_time {
float: right;
padding-right:6px;
}
.wrapper {
width: 85%;
min-width: 970px;
max-width: 1500px;
margin: auto auto;
}
#footer {
position:fixed;
left:0px;
bottom:0px;
height:60px;
width:100%;
background:#999;
border-top:1px #000 solid;
}

/* IE 6 */
* html #footer {
position:absolute;
top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}

tr td.trow1:first-child,
tr td.trow2:first-child {
	border-left: 0;
}

tr td.trow1:last-child,
tr td.trow2:last-child {
	border-right: 0;
}

.tborder {
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}

.thead,
.rounded_top {
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.tfoot,
.rounded_bottom {
	-moz-border-radius-bottomleft: 6px;
	-moz-border-radius-bottomright: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}
table {
	color: #000000;
	font-size: 13px;
}

.tborder {
	background: #fff;
	width: 100%;
	margin: auto auto;
	border: 1px solid #ccc;
	padding: 1px;
}

.thead {
	background: #a1a2a2 url(thead.png) top left repeat-x;
	color: #fff;
	border-bottom: 1px solid #8e8f8f;
	padding: 8px;
}

.thead a:link {
	color: #222;
	text-decoration: none;
}

.thead a:visited {
	color: #222;
	text-decoration: none;
}

.thead a:hover, .thead a:active {
	color: #222;
	text-decoration: underline;
}

.tcat {
	background: #dcdbdc url(tcat.png) repeat-x;
	color: #fff;
	border-bottom: 1px solid #bbb;
	padding: 6px;
	font-size: 12px;
}

.tcat a:link {
	color: #000000;
}

.tcat a:visited {
	color: #000000;
}

.tcat a:hover, .tcat a:active {
	color: #000000;
}

.trow1 {
	background: #f5f5f5;
	border: 1px solid;
	border-color: #fff #ddd #ddd #fff;
}

.trow2 {
	background: #efefef;
	border: 1px solid;
	border-color: #fff #ddd #ddd #fff;padding: 15px;box-sizing: border-box;-moz-box-sizing: border-box;
}

.trow_shaded {
	background: #ffdde0;
	border: 1px solid;
	border-color: #fff #ffb8be #ffb8be #fff;
}

.trow_selected td {
	background: #FFFBD9;
	color: #000;
	border-right-color: #F7E86A;
	border-bottom-color: #F7E86A;
}

.trow_selected td a:link,
.trow_selected td a:visited,
.trow_selected td a:hover,
.trow_selected td a:active {
	color: #000;
}

.trow_sep {
	background: #ddd;
	color: #000;
	border-bottom: 1px solid #c5c5c5;
	padding: 6px;
	font-size: 12px;
	font-weight: bold;
}

.tfoot {
	background: #a1a2a2 url(thead.png) top left repeat-x;
	color: #fff;
	padding: 6px;
	border-top: 1px solid #fff;
}

.tfoot a:link {
	color: #fff;
	text-decoration: none;
}

.tfoot a:visited {
	color: #fff;
	text-decoration: none;
}

.tfoot a:hover, .tfoot a:active {
	color: #fff;
	text-decoration: underline;
}

.thead input.textbox,
.thead select,
.tfoot input.textbox,
.tfoot select {
	border: 1px solid #8e8f8f;
}
.padtopp {padding-top:25px;}

table {
	color: #000000;
	font-size: 13px;
	text-align: left;
}

.tborder {
	background: #fff;
	width: 100%;
	margin: auto auto;
	border: 1px solid #ccc;
	padding: 1px;
}

.thead {
	background: #a1a2a2 url(thead.png) top left repeat-x;
	color: #fff;
	border-bottom: 1px solid #8e8f8f;
	padding: 8px;
}

.thead a:link {
	color: #222;
	text-decoration: none;
}

.thead a:visited {
	color: #222;
	text-decoration: none;
}

.thead a:hover, .thead a:active {
	color: #222;
	text-decoration: underline;
}

.tcat {
	background: #dcdbdc url(tcat.png) repeat-x;
	color: #fff;
	border-bottom: 1px solid #bbb;
	padding: 6px;
	font-size: 12px;
}

.tcat a:link {
	color: #000000;
}

.tcat a:visited {
	color: #000000;
}

.tcat a:hover, .tcat a:active {
	color: #000000;
}

.trow1 {
	background: #f5f5f5;
	border: 1px solid;
	border-color: #fff #ddd #ddd #fff;
}

.trow2 {
	background: #efefef;
	border: 1px solid;
	border-color: #fff #ddd #ddd #fff;
}

.trow_shaded {
	background: #ffdde0;
	border: 1px solid;
	border-color: #fff #ffb8be #ffb8be #fff;
}

.trow_selected td {
	background: #FFFBD9;
	color: #000;
	border-right-color: #F7E86A;
	border-bottom-color: #F7E86A;
}

.trow_selected td a:link,
.trow_selected td a:visited,
.trow_selected td a:hover,
.trow_selected td a:active {
	color: #000;
}

.trow_sep {
	background: #ddd;
	color: #000;
	border-bottom: 1px solid #c5c5c5;
	padding: 6px;
	font-size: 12px;
	font-weight: bold;
}

.tfoot {
	background: #a1a2a2 url(thead.png) top left repeat-x;
	color: #fff;
	padding: 6px;
	border-top: 1px solid #fff;
}

.tfoot a:link {
	color: #fff;
	text-decoration: none;
}

.tfoot a:visited {
	color: #fff;
	text-decoration: none;
}

.tfoot a:hover, .tfoot a:active {
	color: #fff;
	text-decoration: underline;
}

.thead input.textbox,
.thead select,
.tfoot input.textbox,
.tfoot select {
	border: 1px solid #8e8f8f;
}

.bottommenu {
	background: #efefef;
	color: #000000;
	border: 1px solid #4874a3;
	padding: 10px;
}

.navigation {
	color: #000000;
	font-size: 12px;
}

.navigation a:link {
	text-decoration: none;
}

.navigation a:visited {
	text-decoration: none;
}

.navigation a:hover, .navigation a:active {
	text-decoration: none;
}

.navigation .active {
	color: #000000;
	font-size: small;
	font-weight: bold;
}

.smalltext {
	font-size: 11px;
}

.largetext {
	font-size: 16px;
	font-weight: bold;
}

input.textbox {
	background: #ffffff;
	color: #000000;
	border: 1px solid #ccc;
	padding: 3px;
	
	font-family: Tahoma, Verdana, Arial, Sans-Serif;
}

textarea {
	background: #ffffff;
	color: #000000;
	border: 1px solid #ccc;
	padding: 2px;
	line-height: 1.4;
	
	font-family: Tahoma, Verdana, Arial, Sans-Serif;
	font-size: 13px;
}

select {
	background: #ffffff;
	padding: 3px;
	border: 1px solid #ccc;
	
	font-family: Tahoma, Verdana, Arial, Sans-Serif;
}

.editor {
	background: #f1f1f1;
	border: 1px solid #ccc;
}

.editor_control_bar {
	background: #fff;
	border: 1px solid #ccc;
}

.autocomplete {
	background: #fff;
	color: black;
	border: 1px solid #ccc;
	padding: 1px;
}

.autocomplete_selected {
	background: #d2d3d2;
	color: #000;
}

.popup_menu {
	background: #fff;
	border: 1px solid #ccc;
}

.popup_menu .popup_item {
	background: #efefef;
	color: #000;
}

.popup_menu .popup_item:hover {
	background: #d2d3d2;
	color: #000;
}

.trow_reputation_positive {
	background: #ccffcc;
}

.trow_reputation_negative {
	background: #ffcccc;
}

.reputation_positive {
	color: green;
}

.reputation_neutral {
	color: #444;
}

.reputation_negative {
	color: red;
}

.invalid_field {
	border: 1px solid #f30;
	color: #f30;
}

.valid_field {
	border: 1px solid #0c0;
}

.validation_error {
	background: url(invalid.gif) no-repeat center left;
	color: #f30;
	margin: 5px 0;
	padding: 5px;
	font-weight: bold;
	font-size: 11px;
	padding-left: 22px;
}

.validation_success {
	background: url(valid.gif) no-repeat center left;
	color: #00b200;
	margin: 5px 0;
	padding: 5px;
	font-weight: bold;
	font-size: 11px;
	padding-left: 22px;
}

.validation_loading {
	background: url(spinner.gif) no-repeat center left;
	color: #555;
	margin: 5px 0;
	padding: 5px;
	font-weight: bold;
	font-size: 11px;
	padding-left: 22px;
}

.usercp_nav_item {
	display: block;
	padding: 1px 0 1px 23px;
}
.usercp_nav_composepm {
	background: url(composepm.gif) no-repeat left center;
}

.usercp_nav_pmfolder {
	background: url(pmfolder.gif) no-repeat left center;
}

.usercp_nav_sub_pmfolder {
	padding-left: 40px;
	background: url(sub_pmfolder.gif) no-repeat left center;
}

.usercp_nav_trash_pmfolder {
	padding-left: 40px;
	background: url(trash_pmfolder.gif) no-repeat left center;
}

.usercp_nav_pmtracking {
	background: url(pmtracking.gif) no-repeat left center;
}

.usercp_nav_pmfolders {
	background: url(editfolders.gif) no-repeat left center;
}

.usercp_nav_profile {
	background: url(profile.gif) no-repeat left center;
}

.usercp_nav_email {
	padding-left: 40px;
	background: url(email.gif) no-repeat left center;
}

.usercp_nav_password {
	padding-left: 40px;
	background: url(password.gif) no-repeat left center;
}

.usercp_nav_username {
	padding-left: 40px;
	background: url(username.gif) no-repeat left center;
}

.usercp_nav_editsig {
	padding-left: 40px;
	background: url(editsig.gif) no-repeat left center;
}

.usercp_nav_avatar {
	padding-left: 40px;
	background: url(avatar.gif) no-repeat left center;
}

.usercp_nav_options {
	background: url(options.gif) no-repeat left center;
}

.usercp_nav_usergroups {
	background: url(usergroups.gif) no-repeat left center;
}

.usercp_nav_editlists {
	background: url(editlists.gif) no-repeat left center;
}

.usercp_nav_attachments {
	background: url(attachments.gif) no-repeat left center;
}

.usercp_nav_drafts {
	background: url(drafts.gif) no-repeat left center;
}

.usercp_nav_subscriptions {
	background: url(subscriptions.gif) no-repeat left center;
}

.usercp_nav_fsubscriptions {
	background: url(fsubscriptions.gif) no-repeat left center;
}

.usercp_nav_notepad {
	background: url(notepad.gif) no-repeat left center;
}

.usercp_nav_viewprofile {
	background: url(viewprofile.gif) no-repeat left center;
}

.usercp_nav_home {
	background: url(home.gif) no-repeat left center;
}

.usercp_notepad {
	width: 99%;
}

.usercp_container {
	margin: 5px;
	padding: 8px;
	border:1px solid #CCCCCC;
}

.pagehead {
	position:fixed;
	z-index:99999;
	top:0;
	left:0;
	width:100%;
}

table
{
	width: 100%;
}

table th
{
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
	padding: 5px;
	text-align: left;
}

table tr:nth-child(odd)
{
	background-color: rgba(0, 0, 0, 0.015);
}

p
{
	margin: 4px 0;
	padding: 4px 3px;
}

a
{
	text-decoration: none;
	color: #000000;
	-webkit-transition: color 0.1s linear;
	-moz-transition: color 0.1s linear;
	transition: color 0.1s linear;
}

a:hover
{
	color: #888888;
}

.welcome-msg
{
	color: rgba(0, 0, 0, 0.54);
}

.username
{
	text-transform: capitalize;
	color: rgba(0, 0, 0, 0.87);
}

.info input[type="submit"], .info button, .info input[type="button"],
.warn input[type="submit"], .warn button, .warn input[type="button"],
.err input[type="submit"], .err button, .err input[type="button"]
{
	float: right;
}

.err
{
	color: white;
	display: block;
	background-color: #e51c23 !important;
	padding: 15px;
	line-height: 30px;
	min-height: 30px;
}

.err:before
{
	content: "ERROR: ";
}

.warn
{
	color: white;
	display: block;
	background-color: #ff5722 !important;
	padding: 15px;
	line-height: 30px;
	min-height: 30px;
}

.warn:before
{
	content: "WARNING: ";
}

.info
{
	color: white;
	display: block;
	background-color: #5677fc !important;
	padding: 15px;
	line-height: 30px;
	min-height: 30px;
}

.info:before
{
	content: "INFORMATION: ";
}

input[type="text"]
{
	background: #fff;
	color: #000000;
	border: 1px solid #ccc;
	padding: 2px;
	line-height: 1.4;
	font-family: Tahoma, Verdana, Arial, Sans-Serif;
	font-size: 13px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

input[type="text"]:hover
{
	background-color: #E5E4E2;
}

input[type="text"]:focus
{
	background-color: #E5E4E2;
}

hr
{
	border: none;
	height: 1px;
	background-color: rgba(0, 0, 0, 0.12);
}

h4
{
	padding-bottom: 10px;
	margin-bottom: 12px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

#ChatDiv
{
	margin-bottom: 10px;
}

#ChatMessage
{
	width: 92%;
	margin-right:5px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

#ChatMessage input[type="submit"] {
	float:right;
}

input[type="submit"] {
	padding: 3px;
	padding-left:5px;
	padding-right:5px;
	cursor: pointer;
	font-family: Tahoma, Verdana, Arial, Sans-Serif;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: #f5f5f5;
	border: 1px solid #ccc;
}

input[type="submit"]:hover {
	background-color: #E5E4E2;
}

button:disabled, input:disabled{
	padding: 3px;
	padding-left:5px;
	padding-right:5px;
	cursor: pointer;
	font-family: Tahoma, Verdana, Arial, Sans-Serif;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border:none!important;
	color:#fff!important;
	background-color:#ccc!important;
}
